name: muscle_master
description: "Application ultime de musculation et nutrition sportive avec programmes, calculateurs, recettes et coaching IA"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  # UI
  cupertino_icons: ^1.0.8
  
  # Firebase (LOCKED versions - compatibles Flutter 3.35.4)
  firebase_core: 3.6.0
  cloud_firestore: 5.4.3
  
  # State Management
  provider: 6.1.5+1
  
  # Local Storage (Pre-installed optimized versions)
  shared_preferences: 2.5.3
  hive: 2.2.3
  hive_flutter: 1.1.0
  
  # Networking
  http: 1.5.0
  
  # Charts & Graphs
  fl_chart: ^0.69.0
  
  # Intl for formatting
  intl: ^0.19.0
  
  # Video & Camera (Web compatible)
  camera: ^0.10.5+9
  video_player: ^2.8.6
  path_provider: ^2.1.5
  image: ^4.1.7
  share_plus: ^7.2.2
  
  # Monetization (LOCKED versions - compatible Flutter 3.35.4)
  in_app_purchase: 3.2.0        # In-app purchases & subscriptions
  google_mobile_ads: 5.3.1       # AdMob integration (already added)

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  build_runner: ^2.4.13
  hive_generator: ^2.0.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
